.container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 25px;
}

.formRow {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 25px;
}

.errorText {
  color: red;
}

.column {
  display: flex;
  flex-direction: column;
}